/* Bebas Neue Cyrillic */
@font-face {
  font-family: 'Bebas Neue';
  src: url('BebasNeue-Regular.otf') format('truetype');
  font-display: swap;
}

/* Vela Sans ExtraLight */
@font-face {
  font-family: 'Vela Sans';
  src: url('VelaSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Vela Sans Light */
@font-face {
  font-family: 'Vela Sans';
  src: url('VelaSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Vela Sans Regular */
@font-face {
  font-family: 'Vela Sans';
  src: url('VelaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Vela Sans Medium */
@font-face {
  font-family: 'Vela Sans';
  src: url('VelaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Vela Sans SemiBold */
@font-face {
  font-family: 'Vela Sans';
  src: url('VelaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Vela Sans Bold */
@font-face {
  font-family: 'Vela Sans';
  src: url('VelaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Vela Sans ExtraBold */
@font-face {
  font-family: 'Vela Sans';
  src: url('VelaSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Vela Sans GX - вариативный шрифт */
@font-face {
  font-family: 'Vela Sans GX';
  src: url('VelaSans-GX.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}
